body {
 background-color: #2e4866;
}
div {
 padding: 0;
 height: 100vw;
}
.page_1 {
 background-image: url("../../../../image/tech&nature/giga/001.webp");
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}
.page_2 {
 background-image: url("../../../../image/tech&nature/giga/002.webp");
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}
.page_3 {
 background-image: url("../../../../image/tech&nature/giga/003.webp");
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}
.page_4 {
 background-image: url("../../../../image/tech&nature/giga/004.webp");
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}
.page_5 {
 background-image: url("../../../../image/tech&nature/giga/005.webp");
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}
.page_6 {
 background-image: url("../../../../image/tech&nature/giga/006.webp");
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}
.page_7 {
 background-image: url("../../../../image/tech&nature/giga/007.webp");
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}
.page_8 {
 background-image: url("../../../../image/tech&nature/giga/008.webp");
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}
.page_9 {
 background-image: url("../../../../image/tech&nature/giga/009.webp");
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}
.page_10 {
 background-image: url("../../../../image/tech&nature/giga/010.webp");
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}
.page_11 {
 background-image: url("../../../../image/tech&nature/giga/011.webp");
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
}

h1 {
 color: white;
 margin-top: 5vw;
 margin-bottom: 50px;
 font-size: 3vw;
 text-align: center;
}
table {
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 5vw;
}
td {
 border-radius: 25%;
 text-align: center;
}
.btw {
 width: 3vw;
}
.logo {
 width: 12.5vw;
 height: 12.5vw;
}
.logo > img {
 width: 80%;
}
